body {
    font-size: 14px;
    background-image: url(../images/bg.jpg);
}

.center-container {
    position: relative;
}

.vertical-center {
    height: 50%;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    position: fixed;
    z-index: 999;
}